<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="main">
            <div id="header">
                <h3>Goer - Golang WASM tool</h3>
            </div>
            <div id="ide">
                
                <form action="/out/" method = "POST" target = "_blank">
                    <input type="submit" id="download" name="button" value="Save your project"> 
                    <input type="submit" id="run" name="button" value="Run >>>">
                    <br>
                    <textarea onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
                    type="textarea" class="code" spellcheck="false" name="source" id="source" >{{.Source}}</textarea><br>
                    
                </form>
            </div>
            <div id="footer">
                Created by Aidan McReynolds <a href="/about.html">about</a>
            </div>
         </div>

        
    </body>